* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1b2d34;
  min-width: 480px;
}

/* ---------------------- APP CONTAINER ------------------- */

.app-container {
  max-width: 1000px;
  background-color: #2c98cc;
  color: #eeeeee;
  height: 100vh;
  margin: 0;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

/* ------------------ NAVBAR ------------------------------ */

.nav-bar {
  height: 10%;
  background-color: #057ab5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.nav-bar > h1 {
  margin: 0;
}

/* ------------------- WELCOME COMPONENT ------------------- */

.google-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.email-btn {
  margin-top: 1em;
  background: #057ab5;
  color: #fff;
  border: none;
  padding: .5em 1em;
  font-size: 1.1rem;
  cursor: pointer;
}

.manual-sign-up {
  font-weight: bold;
  font-size: 1.2rem;
}

/* ----------------- EMAIL AUTH COMPONENT ------------------ */

input[type="email"], input[type="password"] {
  padding: .75em 1em;
}

input[type="password"] {
  margin-top: 1em;
}


/* ------------------- CHAT BOX COMPONENT ------------------- */

.chat-box {
  height: 80%;
  overflow-y: auto;
  padding-top: 1em;
}

.messages-wrapper {
  padding-left: 1em;
  padding-right: 1em;
}

/* ----------------------- Message Component ----------------- */

.chat-bubble {
  border-radius: 20px 20px 20px 0;
  padding: 15px;
  background-color: #7cc5d9;
  color: #1c2c4c;
  width: max-content;
  max-width: calc(100% - 50px);
  box-shadow: -2px 2px 1px 1px #4c768d;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.chat-bubble.right {
  margin-left: auto;
  border-radius: 20px 20px 0 20px;
  background-color: #fff;
  box-shadow: -2px 2px 1px 1px #88dded;
}
.chat-bubble-left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #1c2c4c;
}
.user-message {
  word-break: break-word;
}
.message-time {
  display: block;
  text-align: right;
}

/* ------------------- SEND MESSAGE COMPONENT --------------- */

.send-message {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1000px;
  padding: 20px 30px;
  background-color: #4c768d;
  display: flex;
  margin: 0;
}
.send-message > input {
  height: 40px;
  padding: 10px 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  flex-grow: 1;
  background-color: white;
  color: #1c2c4c;
  font-size: 1rem;
}
.send-message > input:placeholder {
  color: #ddd;
}
.send-message > :is(input, button):focus {
  outline: none;
  border: 1px solid #1919e0;
}
.send-message > button {
  width: 70px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  color: #242443;
  border: 1px solid #7cc5d9;
  background-color: #7cc5d9;
  font-weight: 600;
}

/* -------------------- MEDIA QUERIES ----------------------- */

@media (min-width: 1000px) {
  .app-container {
    margin: 0 auto;
  }
}
